
<div class="fix-form">


  <form action="/buildings" method="POST" class="new-report-form">
    <h2 class="form-group">Report Your Maintenance Issues</h2>
    <div class="form-group">
      <label for="issue">Maintenance Issue:</label>
      <input type="text" name="description" class="form-control" id="issue">
    </div>
    <div class="form-group">
      <label for="unresolved">Days Unresolved:</label>
      <input type="text" name="days_unresolved" class="form-control" id="unresolved">
    </div>

    <div class="form-group">
      <label for="evictionComment">Comment: </label>
      <textarea class="form-control comment-box" rows="3" input type="text"  name="fixcomment" placeholder="Provide more detail..."></textarea>
    </div>
    <input name="authenticity_token" type="hidden" value="<%= session[:_csrf_token] %>"></input>
    <button type="submit" class="btn btn-default form-button form-group">Submit</button>
  </form>
</div>



