<div class="home-container debugger">

  <div class="hero-image debugger">
    <img class="hero-image debugger" src=<%= image_path('happyfamilySF_copyrightACainFlickr.png') %>>
  </div>

  <div class="nav-bar">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Map</li>
      <li>Take Action!</li>
    </ul>
  </div> <!-- end nav-bar -->

  <div class="search-and-report-container">
    <button id="search-property-button">Search Property</button> <!--Needs to take form into consideration-->

    <form action='/' id="address-form" method='post'>
      <input type='text' name='address' placeholder="Enter address...">
      <input type='integer' name='zip_code' placeholder="Zip here...">
    </form>
  </div>

</div>


















</div> <!-- home-container end -->

