
	 <%if @only_zips.count <1 %>
		 "Nada"
	 <% else %>

	<h3> Did you mean one of these?</h3>	
		<div>
			<% @only_zips.each do |building|%>
				<a href="/buildings/<%=building.id%>"> <%=building.address%></a>
			<% end %>
		</div>
	
	<% end %>
