<div class="container debug">
  <!-- Top Row -->
  <div class="row top-row debug">
    <div class="jumbotron">
      <h1>Learn More</h1>
      <p>To learn more about unethical evictions in San Francisco, please visit the <a href="http://www.sftu.org/eviction/">San Francisco Tenants Union</a> and the <a href="http://www.antievictionmap.squarespace.com/">Anti-Eviction Mapping Project</a>.
    </div>
  </div>

</div>