<div class="container-fluid debug">
<h1 id="main_headline"> The choice is yours... </h1>

	<div class="row about_container debug ">

		<!-- Element AREA -->

		<!-- *********** -->
		
		<div class="col-md-4 about_elements debug">
			<div class="media">

			  <div class="media-left">
			    <div class="media-left">
			    <span class="about_glyph glyphicon glyphicon-heart" aria-hidden="true"></span>
			  </div>
			  </div>

			  <div class="media-body">
			    <h3 class="media-heading">What is "Ethical Housing"?</h3>
			    <p> As thousands of newcomers pour into the city each month, even more disadvantaged families are displaced from their city homes and pushed away from critical resources. Many are the victims of legal, but potentially unethical, nofault eviction practices, including Ellis Acts. Other "soft-pressure" tactics, such as delayed maintenance or implied legal actions, may have played a role as well. If this matters to you, then we're here to help you make more informed housing choices.</p>
			  </div>

		  <!-- end media class -->
			</div>
		<!-- end about_elements -->
		</div>

		<!-- *********** -->
		
		<div class="col-md-4 about_elements debug">
			<div class="media">

			  <div class="media-left">
			    <div class="media-left">
			    <span class="about_glyph glyphicon glyphicon-dashboard" aria-hidden="true"></span>
			  </div>
			  </div>

			  <div class="media-body">
			    <h3 class="media-heading">The "Scoops" Score</h3>
			    <p>We've collected thousands of public records, including Ellis Acts, Owner Move-ins, and Condo conversions, and combined them with related community reported incidents. Our proprietary algorithm then generates a <span class="scoop">"Scoops Score"</span> to index the negative actions that have contributed to the unit's vacancy... the lower the index, the more questionable the unit's ethical origins. </p>
			  </div>
			  
		  <!-- end media class -->
			</div>
		<!-- end about_elements -->
		</div>

		<!-- **md******* -->
		
		<div class="col-md-4 about_elements debug">
			<div class="media">

			  <div class="media-left">
			    <div class="media-left">
			    <span class="about_glyph glyphicon glyphicon-home" aria-hidden="true"></span>
			  </div>
			  </div>

			  <div class="media-body">
			    <h3 class="media-heading">"Inspect" a building</h3>
			    <p>Want to know more about your housing? Just enter the address in the search bar above and we'll generate a list of potentially matching properties.  Select a unit from the list, and you'll see its <span class="scoop">"Scoops Score"</span> as well as a customized list of community generated reports. Make more informed decisions about your future housing. 
			    </p>
			    <p><h4 id="tagline">Think well. Live well. AbodeWell.</h4></p>

			  </div>
			  
		  <!-- end media class -->
			</div>
		<!-- end about_elements -->
		</div>

		<!-- *********** -->

	<!-- end about_container  -->
	</div>
<!-- end section div -->
</div> 