<div class="container-fluid debug">
<h1 > Should you care about your housing ethics? </h1>

	<div class="row about_container debug ">

		<!-- Element AREA -->

		<!-- *********** -->
		
		<div class="col-md-4 about_elements debug">
			<div class="media">

			  <div class="media-left">
			    <div class="media-left">
			    <span class="about_glyph glyphicon glyphicon-heart" aria-hidden="true"></span>
			  </div>
			  </div>

			  <div class="media-body">
			    <h3 class="media-heading">So..."Ethical Housing"?</h3>
			    <p> As thousands of newcomers pour into the city each month, even more thousands of disadvantaged familys are displaced from their city homes. They are often the victims of legal, but potentially unethical, nofault eviction practices, including Ellis Acts, as well as other "soft-pressure" tactics such as delayed maintenance, and implied legal action. If this matters to you, then we're here to help you make more informed housing choices.</p>
			  </div>

		  <!-- end media class -->
			</div>
		<!-- end about_elements -->
		</div>

		<!-- *********** -->
		
		<div class="col-md-4 about_elements debug">
			<div class="media">

			  <div class="media-left">
			    <div class="media-left">
			    <span class="about_glyph glyphicon glyphicon-dashboard" aria-hidden="true"></span>
			  </div>
			  </div>

			  <div class="media-body">
			    <h3 class="media-heading">The "Scoops" Score</h3>
			    <p>The GentrEviction Project. We've collected thousands of public records for Ellis Acts, Owner Move-ins, and Condo conversions, and combined it with tenant reported eviction pressures for the building units in our database. Our proprietary algorithm then generates a <span class="scoop">"Scoops Score"</span> to index the negative actions that made the unit available.  The lower the index, the more questionable the unit's ehtical origins. </p>
			  </div>
			  
		  <!-- end media class -->
			</div>
		<!-- end about_elements -->
		</div>

		<!-- **md******* -->
		
		<div class="col-md-4 about_elements debug">
			<div class="media">

			  <div class="media-left">
			    <div class="media-left">
			    <span class="about_glyph glyphicon glyphicon-home" aria-hidden="true"></span>
			  </div>
			  </div>

			  <div class="media-body">
			    <h3 class="media-heading">"Inspect" a building</h3>
			    <p>So, you'd like to know more about the housing your considering?  Just enter the address in the search bar above and we'll generate a list of potentially matching properties.  Click on the one your'e considering and you'll see the unit's <span class="scoop">"Scoops Score"</span> as well as a full report that includes a checklist of public actions and links to community generated comments about eviction pressure tactics.</p>
			  </div>
			  
		  <!-- end media class -->
			</div>
		<!-- end about_elements -->
		</div>

		<!-- *********** -->

	<!-- end about_container  -->
	</div>
<!-- end section div -->
</div> 