<h1> The About Partial Page goes Here </h1>
<div class="container-fluid">
	<div class="row about_container debug ">
		<!-- <div class="col-xs-6  about_elements debug"></div> -->
		<div class="col-xs-6 col-md-4 about_elements debug">The Scoop</div>
		<div class="col-xs-6 col-md-4 about_elements debug">Ethical Algorithm</div>
		<div class="col-xs-6 col-md-4 about_elements debug">Find Building</div>
		<!-- <div class="col-xs-6  about_elements debug"></div> -->
	</div>
</div>