<div class="container-fluid debug">
<h1> The About Partial Page goes Here </h1>

	<div class="row about_container debug ">

		<!-- Element AREA -->

		<!-- *********** -->
		
		<div class="col-xs-6 col-md-4 about_elements debug">
			<div class="media">

			  <div class="media-left">
			    <span>
			    	Add Gliph
			    </span>
			  </div>

			  <div class="media-body">
			    <h4 class="media-heading">Media heading</h4>
			    <p>Media heading Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
			  </div>

		  <!-- end media class -->
			</div>
		<!-- end about_elements -->
		</div>

		<!-- *********** -->

			<!-- *********** -->
		
		<div class="col-xs-6 col-md-4 about_elements debug">
			<div class="media">

			  <div class="media-left">
			    <span>
			    	Add Gliph
			    </span>
			  </div>

			  <div class="media-body">
			    <h4 class="media-heading">Media heading</h4>
			    <p>Media heading Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
			  </div>
			  
		  <!-- end media class -->
			</div>
		<!-- end about_elements -->
		</div>

		<!-- *********** -->
		
		<div class="col-xs-6 col-md-4 about_elements debug">
			<div class="media">

			  <div class="media-left">
			    <span>
			    	Add Gliph
			    </span>
			  </div>

			  <div class="media-body">
			    <h4 class="media-heading">Media heading</h4>
			    <p>Media heading Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
			  </div>
			  
		  <!-- end media class -->
			</div>
		<!-- end about_elements -->
		</div>

		<!-- *********** -->

	<!-- end about_container  -->
	</div>
<!-- end section div -->
</div> -->