<div class="container debug">

  <div class="about-text">
    <h1>About AbodeWell</h1>
    <p>
    Our aim is to provide more information about landlord history so consumers searching for a new apartment may be armed with good information.</p>

    <p>Each property listed on AbodeWell starts with  a perfect “Scoops Score” of 100 points. We’re operating under the assumption that the landlord is providing good service tenants. Where this is not the case, or where the building changed hands under conditions unfair to its tenants,  points are subtracted from 100. The following events decrease the “Scoops Score”:</p>

        <ul>
           <li>A no fault eviction - This could be either an Ellis Act eviction, condo-conversion or owner move-in.</li>
           <li>Maintenance complaints</li>
           <li>Landlord harassment reports</li>
           <li>Rent increases</li>
       </ul>

    <p>The “Scoops Score" incorporates both public data reflecting no-fault evictions and user-generated complaints. A no-fault eviction is one in which through no fault of their own, a tenant is evicted.  In the event a property has changed hands with Ellis Act evictions, users of our site will see a dramatic decline in the score. This incidence of a no-fault eviction as represented by public data decrements the score significantly.

    <p>Prospective tenants looking at this building or tenants filing a report, may understand that this building changed hands at the expense of residents who were displaced. Once forced out of their units, many residents can no longer afford to live in their neighborhood and must relocate outside of the neighborhood. No-fault evictions leave some residents without access to social services, public transportation, and their social support system.</p>

    <p>Each user-generated complaint decreases the "Scoops Score” and AbodeWell users may clearly distinguish a good landlord or a building from that of a poor landlord with a history of displacing innocent tenants and tenant complaints.

    <p>The “Scoops Score” is augmented by user-generated comments which describe the complaint.  An AbodeWell user may use their own judgement to see trends and read gain context for the a property’s issues.
   </p>
</div>

</div>