/*Walker added css*/
.debug{
  border: 1px dotted blueviolet;

}

.results-page {
  padding: 1em;
}

.results-page h1 {
  margin: 0;
  color: #777;
  text-shadow:
   -1px -1px 0 #4E4C4F,
    1px -1px 0 #4E4C4F,
    -1px 1px 0 #4E4C4F,
     1px 1px 0 #4E4C4F;
}

.ghost-image {
  background: url("Rent-Control-in-San-Francisco-alt-ghost.jpg");
  background-size: cover;
  background-position: center;
  height: 94.7vh;
}

/*debug for the abou_elements here*/
.about_elements {
  min-height: 100px;
  margin:05.3m;
}
.about_box {

}
.search_box{

}

/*****************************/


.navbar-default .navbar-brand {
  padding: 15px 150px;
}

.navbar {
  margin-bottom: 0px!important;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.badge {
  background-color: red;
  font-size: 8.5em;
  float: right;
  margin-top: 10px;
}

.well {
  width: 70%;
}

.address {
  position: absolute;
}

.building-summary {
  padding-top: 100px;
}
/*#score {
  color: gray;
  }

.score-box {
  float: right;
  background-color: red;
  width: 10%;
  height: 5%;
}
}*/


.results_table {
  width: 100%;
  background-color: white;
}

.results_table table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.results_table th {
  background-color: red;
  color: white;
}

.results_table table {
  border-spacing: 15px;
}
