.debug {
  border: 1px solid red;
}

.navbar-default .navbar-brand {
  padding: 15px 150px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.badge {
  background-color: red;
  font-size: 8.5em;
  float: right;
  margin-top: 10px;
}



/*.address {
  position: absolute;
}*/

.building-summary {
  padding-top: 100px;
}

.btn {
   padding: 14px 24px;
   border: 0 none;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   background: red;
   color: #ffffff;

}

.prof-row {
  margin-top: 50px;
}


/*#score {
  color: gray;
  }

.score-box {
  float: right;
  background-color: red;
  width: 10%;
  height: 5%;
}*/