/* line 1, /Users/NeuTrix/DBC_Stuff/AbodeWell/abode_well_2.0/app/assets/stylesheets/index.css.scss */
.abode-well-hero-background {
  background-image: url(/assets/Rent-Control-in-San-Francisco-alt-2a0e7bd0317b175cbca3be0bdf42a9bd9507455de5aec62595ddcfdcecabaae2.jpg);
  background-size: cover;
  background-position: center;
  /*left: 50%;
    margin-right: -50%;*/
  /*transform: translate(-50%, -50%)*/
}

/* line 10, /Users/NeuTrix/DBC_Stuff/AbodeWell/abode_well_2.0/app/assets/stylesheets/index.css.scss */
.abode-well-hero-container {
  padding: 200px;
}

/* line 14, /Users/NeuTrix/DBC_Stuff/AbodeWell/abode_well_2.0/app/assets/stylesheets/index.css.scss */
.abode-well-hero-form {
  width: 100%;
  margin: 0 auto;
  color: #777;
  font-size: 1.2em;
  text-align: center;
  padding-top: 1em;
  position: center;
}

/* line 23, /Users/NeuTrix/DBC_Stuff/AbodeWell/abode_well_2.0/app/assets/stylesheets/index.css.scss */
input {
  background-color: #F2F2F2;
}

/* line 27, /Users/NeuTrix/DBC_Stuff/AbodeWell/abode_well_2.0/app/assets/stylesheets/index.css.scss */
.nav-links {
  padding: 20px;
}
