.abode-well-hero-background {
  background-image: image-url("Rent-Control-in-San-Francisco.jpg");
  background-size: cover;

}
.abode-well-hero-container {
  padding: 200px;

}

.abode-well-hero-form {
  width: 50%;
  margin: 0 auto;
}

.nav-links {
  padding: 20px;
}