.abode-well-hero-background {
  background-image: image-url("Rent-Control-in-San-Francisco-alt.jpg");
  background-size: cover;
  background-position: center;
  /*left: 50%;
    margin-right: -50%;*/
    /*transform: translate(-50%, -50%)*/

}
.abode-well-hero-container {
  padding: 200px;
}

.abode-well-hero-form {
  width: 100%;
  margin: 0 auto;
  color: #777;
  font-size: 1.2em;
  text-align: center;
  position: center;
}

input {
  background-color: #F2F2F2;
}

.nav-links {
  padding: 20px;
}

