
  <div class="evict-notice-form EvictionNotice">

    <h2>Report Your Eviction Notice</h2>

<!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->


  <!--   <form class="form-horizontal" action="/buildings/<%=@building.id%>/eviction_notices" method="POST"> -->
      <div class="form-group">
        <label for="typeOfLetter" class="col-med-0 control label">Type of letter:</label>
        <div class="col-sm-1">
          <div class="letter-dropdown">

            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <select name="category">
              <% @letter_options.each do |option| %>
                <option><%= option %> </option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="evictionComment">Comment: </label>
        <textarea class="form-control" rows="3" input type="text"  name="comment" placeholder="Provide more detail..."></textarea>
        <div class="form-group">
        <button type="submit" class="btn btn-default form-button">Submit</button>
        </div>
      </div>
    </form>
<!--   </div> -->
