<div class="lease-increase-form LeaseIncrease">

  <form action="/leaseincrease" method="POST" class="lease-increase">
    <label>Previous rent: $</label>
    <input type="integer" name="prior_rent">
    <label>New rent: $</label>
    <input type="integer" name="new_rent">
    <label>Comment: </label>
    <textarea cols="40" rows="5" name="comment" placeholder="Provide more detail..."></textarea>
    <input type="submit" value="Submit Report">
  </form>

</div>
