
<div class="maint-issue-form MaintenenceIssue">

  <form action="/maintenenceissue" method="POST">
    <label>Maintenence Issue:</label>
    <input type="text" name="description" placeholder="Describe Issue">
    <label># of Days Unresolved:</label>
    <input type="integer" name="days_unresolved">
    <label>Comment:</label>
    <textarea cols="40" rows="5" name="comment" placeholder="Provide more detail..."></textarea>
    <input type="submit" value="Submit Report">
  </form>

</div>


