
<div class="fix-form">


  <form action="/buildings/<%=@building.id%>/fix_orders" method="POST" class="report-form">
    <h2 class="form-group">Report Your Maintenance Issues</h2>
    <div class="form-group">
      <label for="issue">Maintenance Issue:</label>
      <input type="text" name="description" class="form-control" id="issue">
    </div>
    <div class="form-group">
      <label for="unresolved">Days Unresolved:</label>
      <input type="text" name="days_unresolved" class="form-control" id="unresolved">
    </div>

    <div class="form-group">
      <input type="hidden" name="class" value="Maintenance Issue">
    </div>

    <div class="form-group">
      <label for="evictionComment">Comment: </label>
      <textarea class="form-control comment-box" rows="3" input type="text"  name="comment" placeholder="Provide more detail..."></textarea>
    </div>
    <button type="submit" class="btn btn-default form-button form-group">Submit</button>
  </form>
</div>



