<div class="harassment-form OtherHarassment">

  <form action="/buildings/<%=@building.id%>/harassments" method="POST">
    <label>Type of Harassment:</label>
    <input type="text" name="category">
    <label>Description:</label>
    <textarea cols="40" rows="5" name="comment" placeholder="Provide detail..."></textarea>
    <input type="submit" value="Submit Report">
  </form>

</div>
